apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: hotel-ms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: api-gateway
          image: deepika1308/hotel-api-gateway:1.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: hotel-ms
spec:
  selector:
    app: api-gateway
  type: NodePort
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30080   # Host port
