apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
  namespace: hotel-ms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: eureka-server
          image: deepika1308/hotel-eureka-server:1.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8761

---
apiVersion: v1
kind: Service
metadata:
  name: eureka-server
  namespace: hotel-ms
spec:
  selector:
    app: eureka-server
  type: NodePort
  ports:
    - protocol: TCP
      port: 8761
      targetPort: 8761
      nodePort: 31671   # Host port
